<div class="custom-shape-divider-bottom-1775156405">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 166" preserveAspectRatio="none">
      <defs>
        <pattern id="footer-image-pattern" patternUnits="userSpaceOnUse" width="1200" height="166">
          <image class="footer-image" href='{{ "images/AcousticalBoardroom.webp" | relURL }}' x="0" y="0" width="1200" height="166" preserveAspectRatio="xMidYMid slice" />
        </pattern>
        
        <clipPath id="footer-shape-clip">
          <path d="M 598.97,114.72 0,0 V 165.67392 H 1200 V 0 Z" />
        </clipPath>
      </defs>
      
      <rect x="0" y="0" width="1200" height="166" fill="url(#footer-image-pattern)" clip-path="url(#footer-shape-clip)"></rect>
    </svg>
</div>
<div class="footer-1 d-flex flex-row justify-content-around flex-wrap align-items-center">
    <p class="text-light footer-link"><a href="tel:18885307813">1-888-530-7813</a></p>
    <p class="text-light footer-link"><a href="mailto:info@bluepointliving.com">info@bluepointliving.com</a></p>
    <p class="text-light">Copyright {{ now.Year }}. All rights reserved.</p> 
</div>