<nav class="navbar navbar-expand-lg bg-body-primary">
  <div class="container-fluid mx-auto">
    <a class="navbar-brand" href="/">
      <img src="images/BluePoint-logo.jpg" alt="BluePoint Logo" width="100px">
    </a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
      {{/* Dropdown Menu Item */}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ .Name }}
        </a>
        <ul class="dropdown-menu">
          {{ range .Children }}
            <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </li>
    {{ else }}
      {{/* Standard Menu Item */}}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
      </li>
    {{ end }}
  {{ end }}
      </ul>
    </div>
  </div>
  <a class="nav-phone" href="tel:18885307813">1-888-530-7813</a>
</nav>