{{ define "main" }}
    <div class="container py-5">
        <h1>Battery Liners For Shipping Batteries</h1>
        {{ .Content }}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Combustion Buster Battery Liner</h3>
                <p>The Combustion Buster is the world’s best performing battery liner and should always be used when shipping batteries in cardboard boxes.</p>
                <p>Call to Recycle has been using the Combustion Buster Battery Liner in their recycling boxes since 2018 without incident.</p>
                <img class="img-fluid" src="/images/Blue-Point-Living-Battery-Liner-for-shipping-lithium-batteries.webp" />
                <img class="img-fluid" src="/images/battery-liner-for-shipping-lithium-batteries-300x164.webp" />
                <img class="img-fluid" src="/images/Batteries-stack-on-wood-pallet-300x204.webp" />
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="/images/call2recycle.webp" />
                <img class="img-fluid" src="/images/container-for-shipping-lithium-batteries.webp" />
                <p>If you are in the business of shipping batteries, give us a call today to obtain more information about how to order our Combustion Buster Battery Liner:</p>
                <p class="fw-bold">1-888-530-7813</p>
                <img class="img-fluid" src="/images/battery-liners-packaged-300x238.webp" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Batteries should never be shipped without the proper packaging. Our preferred method of shipping car batteries is within a Gaylord Box that has been lined with the Combustion Buster Liner that completely covers the inside of the box.</p>
                <img class="img-fluid" src="/images/bulk-bin-boxes.webp" />
                <h3>Part A  and  Part B</h3>
                <p>Two separate liners should be used when lining the inside of a Gaylord Box.  Part A should line the three interior sides of the box.  Part B should line the bottom, top, and one side.</p>
                <img class="img-fluid" src="/images/gaylordDiagram.webp" />
                <h3>LITHIUM ION BATTERIES <strong>UN3480</strong></h3>
                <p>Lithium batteries are dangerous goods and, as such, require special packaging for transportation.</p>
                <p>All domestic and international shipments containing lithium batteries are subject to transport regulations on hazardous goods according to ADR RID, ADN, IMDG, ICAO / IATA Regulations.</p>
                <p>The batteries UN3480 are lithium ion batteries, rechargeable, without equipment. The lithium ion batteries UN3480 are classified:</p>
                <p>Class 9 – UN3480 – Lithium ion batteries – Batteries that are not packed with or installed with the equipment.</p>
                <p>For each model of battery, there are different requirements to be verified:  Type of battery.  Weight of the battery.  Dimensions of the battery.  Capacity of the battery.  Mode of transport.</p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="/images/LithiumIonBatteryRecycle.webp" />
                <p>Lithium-ion batteries are at the heart of nearly every electric vehicle, laptop and smartphone, and they are essential to storing renewable energy in the face of the climate emergency.  That said, all of the world’s current mining operations cannot extract enough lithium and other key minerals to meet skyrocketing demand for these batteries.</p>
                <p>Establishing new mines is an expensive, years-long effort.  And mining also creates a host of environmental headaches—such as depleting local water resources and polluting the nearby region with runoff debris—that have led to protests against new mines.</p>
                <p>All of this means the ability to recycle existing batteries is crucial for sustainably shifting the global energy system.  But recycling lithium-ion batteries has only recently made commercial inroads. Battery manufacturers have hesitated over concerns that recycled products may be lower in quality than those built from newly mined minerals, potentially leading to shorter battery life or damage to the battery’s innards.  Consequences could be serious, particularly in an application such as an electric vehicle.</p>
                <p>But new research published in Joule has hit upon what experts describe as a more elegant recycling method.   The researchers found that batteries they made with their new cathode-recycling technique perform just as well as those with a cathode made from scratch.  In fact, batteries with the recycled cathode both last longer and charge faster.</p>
                <img class="img-fluid" src="/images/UN3480.webp" />
                <p>If you are in the business of shipping batteries, give us a call today to obtain more information about how to order our Combustion Buster Battery Liner:</p>
                <p class="fw-bold">1-888-530-7813</p>
            </div>
        </div>
    </div>
{{ end }}