{{ define "main" }}
    <div class="container">
        {{ .Content }}
        <div class="row mt-5">
            <div class="col-md-6">
                <img class="img-fluid rounded my-3" src="/images/denim-presentation.webp" />
            </div>
            <div class="col-md-6">
                <p class="bold">Presentation Link</p>
                <a class="fs-3" href="https://drive.google.com/file/d/1Y1NpRpGcpaenWPS3szBT8nQL8zKPOdX2/view?usp=sharing">Denim Insulation For Modular Walls</a>
                <p class="bold mt-5">Application:</p>
                <p>Modular Wall Insulation Materials</p>
                <p class="bold mt-5">Product:</p>
                <p>Sustainable Acoustical Denim Insulation</p>
                <p class="bold mt-5">Contact us:</p>
                <a href="tel:18885307813">1-888-530-7813</a>
            </div>
        </div>
    </div>
{{ end }}