{{ define "main" }}
    <div class="gym-hero">
        <div class="container text-center py-5">
            {{ .Content }}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2ioJgVeC7KQ?si=tO7wZMzjgcvwxSGW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="gym-tour d-flex align-items-center">
        <div class="container text-center py-5">
            <h2 class="text-light">Take The Tour</h2>
            <a class="btn btn-primary" href="#">Click Here</a>
        </div>
    </div>
    <div class="gym-media d-flex align-items-center">
        <div class="container text-center py-5">
            <div class="row justify-content-center">
                <h2 class="text-light">Media Wall</h2>
                <div class="shadow-box">
                    <p>Sleek design</p>
                    <p>No demolition required</p>
                    <p>Attaches to existing walls</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gym-room d-flex align-items-center">
        <div class="container text-center py-5">
            <h2 class="text-light">Turn Any Room In Your Home Into A Smart Gym</h2>
        </div>
    </div>
    <div class="gym-audio d-flex align-items-center">
        <div class="container text-center py-5">
            <div class="row justify-content-center">
                <h2 class="text-light">Packages Include</h2>
                <div class="shadow-box">
                    <p>Video</p>
                    <p>Sound</p>
                    <p>Climate</p>
                    <p>Lighting</p>
                    <p>And More</p>
                </div>
            </div>
        </div>
    </div>
{{ end }}