{{ define "main" }}
<section class="bpl-hero">
  <h1 class="drop-shadow">Welcome home.</h1>
</section>
<section class="d-flex justify-content-center align-items-center my-5">
  <h3 class="mx-5">Our mission is to provide sustainable solutions for practical applications.</h3>
</section>
<section>
  <h5 class="text-center">Companies who use our products:</h5>
  <div class="logos">
    <a href="https://dirtt.com/">
      <img class="img-fluid" src="images/DIRTT_scaled.webp" />
    </a>
    <a href="https://www.call2recycle.org/">
      <img class="img-fluid" src="images/Call2Recycle-Logo-Image.webp" />
    </a>
    <a href="https://www.frostking.com/">
      <img class="img-fluid" src="images/frostking-white-logo.webp" />
    </a>
    <a href="https://www.ki.com/">
      <img class="img-fluid" src="images/KI-Furniture-logo-600x204-1.webp" />
    </a>
    <a href="https://strongspas.com/">
      <img class="img-fluid" src="images/ss_logo-main_v1.webp" />
    </a>
    <a href="https://alliancefulfillment.com/">
      <img class="img-fluid" src="images/AllianceFulfillmentLogo.webp" />
    </a>
  </div>
</section>
{{ end }}