{{ define "main" }}
    <div class="construction-bg">
        <div class="container pb-5 mb-5">
            {{ .Content }}
        </div>
    </div>
    <div class="oem-main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex flex-column">
                    <img src="/svg/lightbulb-solid-full.svg" class="icon" />
                    <h3>Generators</h3>
                    <p>BluePoint Quiet Living Insulation is made from recycled cotton denim that is thermally bonded. It is made from fire rated material that offers excellent thermal and acoustical performance. Our cotton denim insulation contains no fiberglass and does not itch or cause any skin irritation.</p>
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <img src="/svg/fan-solid-full.svg" class="icon" />
                    <h3>HVAC</h3>
                    <p>The BluePoint Quiet Living Liner offers superior sound absorption and energy saving thermal performance, while contributing to healthy indoor air quality. Our liner is overlaid with a durable and fire-resistant black facing that provides additional strength to the product, minimizing the potential for fiber presence in the airstream.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex flex-column">
                    <img src="/svg/spa-solid-full.svg" class="icon" />
                    <h3>Spas</h3>
                    <p>BluePoint Quiet Living Insulation is made from recycled cotton denim that is thermally bonded. It is made from fire rated material that offers excellent thermal and acoustical performance. Our cotton denim insulation contains no fiberglass and does not itch or cause any skin irritation.</p>
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <img src="/svg/volume-xmark-solid-full.svg" class="icon" />
                    <h3>Acoustic Wall Systems</h3>
                    <p>BluePoint Quiet Living Insulation is made from recycled cotton denim that is thermally bonded. It is made from fire rated material that offers excellent thermal and acoustical performance. Our cotton denim insulation contains no fiberglass and does not itch or cause any skin irritation.</p>
                </div>
            </div>
        </div>
        <div class="container d-flex flex-column py-5">
            <h1>Watch The Process</h1>
            <div class="ratio ratio-16x9 mb-5">
                <iframe width="760" height="515" src="https://www.youtube.com/embed/F86b0_C-vZs?si=MwTD9lJe1tIL2w0T" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="ratio ratio-16x9 mb-5">
                <iframe width="760" height="515" src="https://www.youtube.com/embed/Md--UXwpMxA?si=sHg2TrYyDVWTZ4_s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{{ end }}