
body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  margin-bottom: 1rem;
  background-color: white;
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 1000;
}

nav {
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-phone {
  font-size: x-large;
  color: #36b6e9
}

.bpl-hero {
  background-image: url('/images/bluepoint-living-header-1-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.drop-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.59);
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

footer {
  margin-top: 1rem;
  position: relative;
}

a {
  color: #00e;
  text-decoration: none;
}

.custom-shape-divider-bottom-1775156405 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 0;
}

.footer-image {
  filter: brightness(50%);
}

.footer-1 {
  padding: 2rem;
  background-color: #222;
  width: 100%;
  z-index: 9;
  position: relative;
  top: 5rem;
}

.footer-1 p {
  margin-left: 1rem;
  margin-right: 1rem;
}

p.text-light > a {
  color: white !important;
}

.gradient {
	background-image: linear-gradient(180deg,rgba(2,0,0,0.82) 83%,rgba(2,0,0,0.45) 100%) !important;
  padding: 1rem;
}

.gradient h1 {
  color: white;
}

.gradient p {
  color: white;
}

.gallery-img {
  width: 100%;       /* Fills the column width */
  height: 250px;     /* Set your desired fixed height */
  object-fit: cover; /* Crops the image to fit the container without distortion */
  border-radius: 8px; /* Optional: adds a modern touch */
}